GOOGLE_PROJECT_ID=fleet-rite-427411-s1
GOOGLE_APPLICATION_CREDENTIALS=C:/Users/Himu/Desktop/New folder (3)/fleet-rite-427411-s1-a1c0b58f852c.json
IMAGE_FOLDER_PATH=C:/Users/Himu/Desktop/test

fleet-rite-427411-s1-a1c0b58f852c.json

